body {
  flex-direction: column;
}

.html_container {
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  height: 200px;
  position: relative;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.html_container .htm {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  /*background: blue;*/
  position: relative;
}

.html_container .htm .outer {
  box-sizing: border-box;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
             -6px -6px 10px -1px  rgba(0, 0, 0, 0.7);
}

.html_container .htm .inner {
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(0,0,0,0.7),
              -0.5px -0.5px 0px rgba(0,0,0,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
}

.html_container .htm .number {
  box-sizing: border-box;
  font-weight: 600px;
  color: #FFFFFF;
}

.html_container .htm circle {
  box-sizing: border-box;
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472; 
  animation: html 1s 1s both;
}

@keyframes html {
  from{
    stroke-dashoffset: 472;
  }
  
  to{
    stroke-dashoffset: 118;
  }
}

.html_container .htm svg {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.html_container .css {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  /*background: blue;*/
  position: relative;
}

.html_container .css .outer {
  box-sizing: border-box;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
             -6px -6px 10px -1px  rgba(0,0,0,0.7);
}

.html_container .css .inner {
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(0,0,0,0.7),
              -0.5px -0.5px 0px rgba(0,0,0,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
}

.html_container .css .number {
  box-sizing: border-box;
  font-weight: 600px;
  color: #FFFFFF;
}

.html_container .css circle {
  box-sizing: border-box;
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472; 
  animation: css 1s 1s both;
}

@keyframes css {
  from{
    stroke-dashoffset: 472;
  }
  
  to{
    stroke-dashoffset: 212.4;
  }
}

.html_container .css svg {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.html_container .js {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  /*background: blue;*/
  position: relative;
}

.html_container .js .outer {
  box-sizing: border-box;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.7);
}

.html_container .js .inner {
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(0, 0, 0, 0.7),
    -0.5px -0.5px 0px rgba(0, 0, 0, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.html_container .js .number {
  box-sizing: border-box;
  font-weight: 600px;
  color: #FFFFFF;
}

.html_container .js circle {
  box-sizing: border-box;
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: js 1s 1s both;
}

@keyframes js {
  from{
    stroke-dashoffset: 472;
  }
  
  to{
    stroke-dashoffset: 330.4;
  }
}

.html_container .js svg {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.head {
  position: relative;
  top: 160px;
  font-size: 30px;
  letter-spacing: 3px;
}

.items_container {
  position: relative;
  background: #2A2A2A;
  width: 1100px;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.items_container .items_box {
  position: relative;
  background: #2E2E2E;
  border: #333333 5px solid;
  box-shadow: 0px 10px 0px #333;
  border-radius: 20px;
  width: 650px;
  height: 80px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

hr {
  width: 100%;
  height: 3px;
}

.items_container .items_box:hover {
  transform: translateY(10px);
  border: 3px dashed #AAA;
  box-shadow: none;
}

.items_container .items_text {
  font-size: 35px;
  margin: 10px 0;
}
